#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

button {
 margin-top: auto;
  border: 0;
  width: 40%;
}
button.Playbutton {
  margin-top: 20px;
  background-color: transparent;
  color: green;
  border: 0;
  width: 40%;
}

button.Confirmbutton {
  margin-top: 20px;
  background-color: transparent;
  color: green;
  border: 0;
  width: 30%;
}

button.Backbutton {
  margin-top: 20px;
  background-color: transparent;
  color: red;
  border: 0;
  width: 30%;
}

button.Pausebutton {
  margin-top: 20px;
  background-color: transparent;
  color: red;
  border: 0;
  width: 40%;
}

button.Settingsbutton {
  margin-top: 20px;
  background-color: transparent;
  color: whitesmoke;
  border: 0;
  width: 40%;
}

button.Restartbutton {
  margin-top: 20px;
  background-color: transparent;
  color: yellow;
  border: 0;
  width: 40%;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
h1{
  text-align: center;
}
